a {
    color: #D6DBDF;
    text-decoration: none;
    background-color: transparent;
}

.grecaptcha-badge {
    display: none;
}

.app-header {
    /* background: -webkit-gradient(linear, left top, right bottom, from(rgb(241, 212, 237)), to(rgb(241, 212, 227)));
    background: linear-gradient(to bottom right, rgb(227, 169, 217), rgb(241, 174, 219)); */
    /* background: linear-gradient(-45deg, #5499C7, #7FB3D5, #A9CCE3, #D4E6F1);
    background-size: 400% 400%; */
    /* animation: gradient 15s ease infinite; */
    /* box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right top, rgb(84, 153, 199) 0%, rgb(127, 179, 213) 100%);
    background-image: linear-gradient(0deg, rgb(84, 153, 199), rgb(127, 179, 213) 50%, transparent 50%); */
    /* 
    background-color: rgb(127, 179, 213);
    */
    /* opacity: 0.9;
    filter: alpha(opacity=90); */
    /* background-color: #f4e4e5;
    background-image: linear-gradient(#EAF2F8, #EBF5FB); */
    box-shadow: 0 -2px 2px 0 rgba(21, 67, 96, 0.05), 0 1px 1px 0 rgba(21, 67, 96, 0.2);
    box-shadow: 0px;
    background-color: rgba(21, 67, 96, 0.0);
    color: #5D5F63;
    background: #293949;
    border-bottom: 0px;
}

.main .container-fluid {
    padding: 0 10px;
}

.navbar-nav .nav-link {
    /* font-size: 28px; */
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar .nav-link.active {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #5D5F63;
    background: #293949;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sidebar .nav-link.active .nav-icon {
    color: #5D5F63;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    color: #1abc9c;
    text-decoration: none;
    background-color: transparent;
}

.app-body .sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    /* background: linear-gradient(-45deg, #5499C7, #7FB3D5, #A9CCE3, #D4E6F1);
    background-size: 400% 400%; */
    /* animation: gradient 15s ease infinite; */
    color: #5D5F63;
    background: #293949
}

.app-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
    color: #1abc9c;
    background: #293949;
    border-top: 0px solid #c8ced3;
}

.breadcrumb {
    border-bottom: 0px solid #c8ced3;
    background-color: rgba(123, 125, 125, 0.0);
    padding: 0px;
    padding-top: 2px;
    padding-left: 2rem !important;
}

.navbar-toggler .icon-user {
    color: #5D5F63;
    font-size: 24px;
}


/* .navbar-toggler .badge {
     font-size: 12px; 
} */

.sidebar .nav-link {
    color: #B3B6B7;
    text-decoration: none;
    background: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar .nav-dropdown.open .nav-link {
    color: #5D5F63;
    border-left: 0;
    color: #B3B6B7;
    background: #293949;
}

.sidebar .nav-link:hover {
    border-right: 2px solid #21618C;
    background: rgba(41, 128, 185, 0.4);
}

.nav-link {
    color: #5D5F63;
    background: #293949;
}

.sidebar .nav-link .nav-icon {
    color: #B3B6B7;
}

.sidebar .nav-dropdown.open .nav-link:hover {
    border-right: 2px solid #21618C;
    background: rgba(41, 128, 185, 0.4);
}

.nav-link>.submenu:before {
    display: block;
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 0;
    bottom: 0;
    border: 1px dotted;
    border-width: 0 0 0 1px;
}


/* .sidebar {
    background-color: #20a8d8;
    border-right: 1px solid rgba(35, 154, 209, 0.8);
}
.sidebar .nav-title {
    color: #fff;
}
.sidebar .nav-link {
    color: #fff;
}
.sidebar .nav-link:hover {
    background-color: #196ce9;
}*/

.card {
    margin-bottom: 15px;
}

.icon-arrow-up:before {
    content: "\E601";
}

.card-header {
    margin-bottom: 0;
    border-bottom: 0px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px solid rgba(123, 125, 125, 0.2);
    background-color: rgba(123, 125, 125, 0.2);
    border-radius: 0px;
    font-size: 12px;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f5f0f4;
    border-top: 1px solid #d3c8ce;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* font-size: 28px; */
    text-align: center;
    font-size: 12px;
}

.card-body {
    font-size: 12px;
}

.multiselect {
    min-height: 35px;
}

.multiselect,
.multiselect__input,
.multiselect__single {
    font-size: 0.875rem;
    padding: 0;
}

.multiselect__placeholder {
    margin-bottom: 0;
    padding-top: 0;
}

.multiselect__select {
    position: absolute;
    height: 35px;
    right: 1px;
    top: 1px;
    padding: 4px 8px;
}

.multiselect__tags {
    /*max-height: 35px;*/
    /*height: 35px;*/
    min-height: 35px;
    padding: 0.375rem 40px 0 0.75rem;
    font-size: 0.875rem;
}

.multiselect__tag {
    /*margin-right: 0;*/
    margin-bottom: 0;
}

.multiselect__tag-icon {
    line-height: 18px;
}


/*date vue*/

.vdp-datepicker div input.form-control[readonly] {
    background-color: #ffffff;
}


/*custom*/

.form-inline {
    padding-left: 0;
}

.form-search {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-search .form-group {
    margin: 5px 0 5px 0;
}

.btnGrid,
.btnGrid .b-dropdown .dropdown-toggle.btn,
.btnGrid .b-dropdown .btn {
    padding: 0;
}

.dropdown-toggle-no-caret.dropdown-toggle::after {
    display: none !important;
}

.modal-backdrop {
    opacity: 0.5;
}

.vue-notification {
    /* opacity: 0.9; */
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.notification-wrapper:first-child {
    margin-top: 5px !important;
}

.notification-title {
    font-size: 16px;
}

.notification-content {
    font-size: 14px;
}

.text-primary {
    color: #007bff!important
}

.text-success {
    color: #28a745 !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-warning {
    color: #ffc107 !important;
}

@media (max-width: 576px) {
    /*576px*/
    .form-search.form-inline {
        padding-left: 15px;
        display: block;
    }
    .form-search tbody,
    .form-search tr,
    .form-search tr>td,
    .form-search tr>th {
        width: auto!important;
        display: block!important;
    }
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border-radius: 0px;
}

.card-header {
    /* padding: .75rem 1.25rem; */
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 0px solid rgba(0, 0, 0, .125);
    width: 100%;
    border: 0px solid rgba(123, 125, 125, 0.2);
    background-color: rgba(123, 125, 125, 0.2);
    border-radius: 0px;
    color: #c8ced3;
    border-bottom: 1px solid rgba(93, 109, 126, 0.2);
    background-color: rgba(44, 62, 80, 0.2);
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border: 1px solid rgba(93, 109, 126, 0.2);
    background-color: rgba(44, 62, 80, 0.2);
    border-radius: 0px;
}


/* 
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: aqua;
} */

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 15px solid rgba(93, 109, 126, 1);
    border-radius: 0;
    outline: 0;
    color: #F2F3F4;
    background-color: rgba(86, 101, 115, 1);
    background: rgba(41, 57, 73, 1);
    /* background: #293949; */
    font-size: 13px;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    color: #F2F3F4;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0px solid rgba(93, 109, 126, 1);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #293949;
    color: #F2F4F4;
    margin-bottom: 0;
    border-bottom: 0px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px solid rgba(123, 125, 125, 0.2);
    background-color: rgba(23, 32, 42, 0.2);
    border-radius: 0px;
    font-size: 13px;
    color: #EBEDEF;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 13px;
    color: #EBEDEF;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10px;
    border-top: 1px solid #c8ced3;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-top: 0px solid #c8ced3;
}

.modal .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #EBEDEF;
    background-color: rgba(255, 255, 255, 0.1);
    ;
    background-clip: padding-box;
    border: 0px solid #e4e7ea;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.close {
    float: right;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1;
    color: #7B241C;
    text-shadow: none;
    opacity: .5;
}

.btn-secondary {
    color: #D4E6F1;
    background-color: rgba(41, 128, 185, 0.5);
    border-color: rgba(41, 128, 185, 0.0);
}

.btn-warning {
    color: #D4E6F1;
    background-color: rgba(125, 102, 8, 0.5);
    border-color: rgba(125, 102, 8, 0.0);
}

.btn-success {
    color: #D4E6F1;
    background-color: rgba(14, 102, 85, 0.5);
    border-color: rgba(14, 102, 85, 0.0);
}


/*             
rgba(255,255,255, 0.3),rgba(34, 126, 201, 0.5) */

.btn-action {
    color: #D4E6F1;
    background-color: rgba(153, 163, 164, 0.5);
    border-color: rgba(255, 255, 255, 0.0);
}

.btn-action:hover {
    color: #D4E6F1;
    background-color: rgba(166, 172, 175, 0.8);
    border-color: rgba(255, 255, 255, 0.0);
}

.btn-danger {
    color: #FADBD8;
    background-color: rgba(148, 49, 38, 0.5);
    border-color: rgba(148, 49, 38, 0.0);
}

.btn-danger:hover {
    color: #FADBD8;
    background-color: rgba(203, 67, 53, 1);
    border-color: rgba(203, 67, 53, 1);
}

.btn-secondary:hover {
    color: #D4E6F1;
    background-color: rgba(41, 128, 185, 1);
    border-color: rgba(41, 128, 185, 1);
}

.btn-dark {
    color: #D4E6F1;
    background-color: rgba(47, 53, 58, 0.6);
    border-color: rgba(174, 182, 191, 0.2);
}

.progress {
    border-radius: 0px;
}


/* 
.progress-xs {
    height: 20px;
    background-color: rgba(0, 0, 0, 0.15);
} */

.progress-cycle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.65625rem;
    border-radius: 0px;
    /* border-radius: 0.25rem; */
}


/* .progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background: rgba(229, 231, 233, 1.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
} */

div.fcsText1 a span {
    display: none;
    height: 20px;
}

.fcsText {
    color: #000;
}

div.fcsText1 a:hover {
    position: relative;
    cursor: default;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

div.fcsText1 a:hover span {
    display: block;
    position: absolute;
    float: left;
    white-space: nowrap;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    top: 30px;
    left: -45px;
    padding-top: 0;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
    /* background:rgba(0, 0, 0, 0.8);  */
    font-size: 12px;
    color: #ECF0F1;
    border-radius: 5px;
}

div.fcsText12 {
    display: inline;
    padding: 5px;
    border-radius: 5px;
    color: #154360;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #1B4F72;
    background-color: #D4E6F1;
    border-color: #D4E6F1;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    color: #23282c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c8ced3;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 0px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(133, 146, 158, 0);
    border-radius: 0px;
    font-size: 13px;
    color: #D0D3D4;
    background: #293949;
    border: 0.5px solid rgba(253, 254, 254, 1);
}

.dropdown-item:hover {
    background: rgba(2248, 249, 249, 0);
    color: #D0D3D4;
}

.dropdown-header {
    background: rgba(41, 128, 185, 0.5);
    border-bottom: 0px solid #c8ced3;
}

.dropdown-item {
    color: #D0D3D4;
}

.dropdown-item .a {
    color: #D0D3D4;
}

.mb-3,
.my-3 {
    margin-bottom: 5px !important;
}

.card-graph {
    border-radius: 0px;
    border: 0;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card-ds1 {
    box-shadow: 0 3px 14px -4px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    border: 0;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 120px;
}

.card-ds1 .c-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 50%;
    background-color: #eee;
    height: 60px;
    font-size: 24px;
    margin-right: 15px;
}

.card-ds1 .c-left-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120%;
    background-color: #eee;
}

.card-ds1 .c-left-chart-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 120%;
    background-color: #eee;
}

.card-ds1 .c-right {
    width: calc(100% - 60px);
    text-transform: capitalize;
}

.card-ds1 .c-right-chart {
    width: 100%;
    text-transform: capitalize;
}

.card-ds1 .c-right p {
    font-size: 16px;
    margin: 0;
}

.card-ds1 .c-right span {
    font-weight: 600;
    font-size: 22px;
}

.card-ds1 .c-right span.small {
    font-size: 16px;
}

.badge-danger {
    color: #17202A;
    background-color: #f86c6b;
}

.card-ds1 .c-row {
    width: 100%;
    text-transform: capitalize;
}

.card-ds1 .c-row-chart {
    width: 100%;
    text-transform: capitalize;
}

.card-ds1 .c-row p {
    font-size: 16px;
    margin: 0;
}

.card-ds1 .c-row span {
    font-weight: 600;
    font-size: 22px;
}

.card-ds1 .c-row span.small {
    font-size: 16px;
}

.charts-container:after {
    clear: both;
    content: "";
    display: table;
}

.progress-cycle {
    width: 100%;
    height: 100%;
    /* background-color: #4C3E41; */
    padding: 0;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.12); */
    text-align: center;
    background: transparent;
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.flx-item {
    margin-right: .5rem;
    margin-left: .5rem;
}


/* Circle Progress
  --------------------------------------*/


/* Animacion */

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circle-progress {
    display: block;
    width: 80px;
}

.circle-path {
    fill: rgba(66, 73, 73, 0.2);
    animation: progress 1s forwards;
    stroke-linecap: round;
    stroke-width: 3;
    stroke: #00BCD4;
}

.circle-path-rec {
    fill: rgba(115, 198, 182, 0.1);
    animation: progress 1s forwards;
    stroke-linecap: round;
    stroke-width: 2;
    ;
    stroke: rgba(115, 198, 182, 0.8);
}

.circle-path-pay {
    fill: rgba(55, 173, 221, 0.1);
    animation: progress 1s forwards;
    stroke-linecap: round;
    stroke-width: 2;
    stroke: rgba(55, 173, 221, 0.8);
}

.circle-path-pack {
    fill: rgba(217, 136, 128, 0.1);
    animation: progress 1s forwards;
    stroke-linecap: round;
    stroke-width: 2;
    stroke: rgba(217, 136, 128, 0.8);
}

.circle-path-car {
    fill: rgba(247, 220, 111, 0.1);
    animation: progress 1s forwards;
    stroke-linecap: round;
    stroke-width: 2;
    stroke: rgba(247, 220, 111, 0.8);
}

.circle-text {
    fill: #D0D3D4;
    font-size: .6rem;
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: 500;
}

.task-status {
    width: 100%;
    float: left;
}

.status-bar {
    float: left;
    height: 20px;
    width: 90%;
}

.status-track {
    position: relative;
    width: 100%;
    height: 20px;
    background: rgba(93, 109, 126, 1);
    border-radius: 1px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.status-fill {
    position: relative;
    background: #85C1E9;
    border-radius: 1px;
    height: 20px;
    width: 50%;
    /*default*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.status-fill-bad {
    position: relative;
    background: #FADBD8;
    border-radius: 1px;
    height: 20px;
    width: 50%;
    /*default*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.status-fill-bad2good {
    position: relative;
    background: #FAD7A0;
    border-radius: 1px;
    height: 20px;
    width: 50%;
    /*default*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.status-fill-good {
    position: relative;
    background: #D5F5E3;
    border-radius: 1px;
    height: 20px;
    width: 50%;
    /*default*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.status-text {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    /* sketchy center-it: 50% -->  then 1/2 width <--  */
    color: #34495E;
    text-align: center;
    font-family: "Lato", "Verdana", sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    z-index: 100;
    display: inline-block;
    width: 50px;
}

.task-time {
    width: 20%;
    float: left;
    height: 34px;
    line-height: 34px;
}

.task-time a {
    font-size: 12px;
    color: #555;
    font-weight: bold;
}

.task-time small {
    color: #999;
    font-weight: normal;
}

.progress-blue1 {
    background-color: rgba(93, 173, 226, 0.6);
}

.list-group-stats-item-bar {
    height: 10px;
    border-radius: 1px;
    background-color: #eee;
    overflow: hidden;
    margin-top: 4px;
    background: rgba(255, 255, 255, 0.3);
}

.list-group-stats-item-bar .list-group-stats-item-progress {
    height: 100%;
    transition: all 0.4s ease-out;
    /* background: #227ec9cc; */
}

.list-group-stats-item .list-group-item-hover {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    color: #444;
    width: calc(100% - 50px);
    height: 38px;
    left: 44px;
    transition: all 0.4s ease;
    transform: scaleY(0);
    -ms-transform-origin-y: 26px;
    -webkit-transform-origin-y: 26px;
    font-size: 11px;
    background-color: #293949
}

.list-group-stats-item .list-group-item-hover .left-separator {
    border-left: 1px solid #dedede;
}

.list-group-stats-item .list-group-item-hover * {
    color: #fff !important;
}

.list-group-stats-item:hover .list-group-item-hover {
    transform: scaleY(1);
}


/*    gridv2  */

td {
    overflow: hidden;
    text-overflow: ellipsis;
    background: #34495E;
    background: #CACFD2;
    color: rgba(255, 255, 255, 0.4);
    padding: 0 10px;
    border: 1px solid rgba(93, 109, 126, 0.2);
    color: #CACFD2;
    background-color: rgba(253, 254, 254, 0);
    background-color: #293949;
}


/* card  */

.truck10-icon {
    color: rgba(127, 179, 213, 0.5);
}

.truck6-icon {
    color: rgba(217, 136, 128, 0.5);
}

.truck10 {
    font-size: 80px;
    color: rgba(127, 179, 213, 0.5);
}

.truck6 {
    font-size: 40px;
    color: rgba(148, 49, 38, 0.5);
}

.demo-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 60px auto;
    background: #293848;
}

.demo-container h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 2px 0;
}

.demo-container p {
    font-size: 12px;
    color: #ced7e2;
    margin: 2px 0;
}

.selector {
    display: flex;
    height: 36px;
    width: 360px;
    align-items: center;
    justify-content: center;
}

.selector .selection {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin-left: -1px;
    background-clip: border-box;
    transform: scale3d(1, 1, 1);
    background: rgba(32, 45, 59, 0.2);
    border: 1px solid #485769;
    color: #ced7e2;
    transition: 0.15s ease-in-out background-color;
}

.selector .selection.selected {
    background: rgba(91, 150, 213, 0.2) !important;
    border-color: #5b96d5;
    color: #ffffff !important;
    z-index: 2;
    cursor: text;
}

.selector .selection:hover {
    color: #accaea;
    background: rgba(91, 150, 213, 0.05);
}

.selector .selection:first-child {
    margin-left: 0;
    border-radius: 3px 0 0 3px;
}

.selector .selection:last-child {
    border-radius: 0 3px 3px 0;
}

.selector.width-per-item {
    width: auto;
}

.selector.width-per-item .selection {
    min-width: 135px;
    max-width: 135px;
    width: 135px;
}

.sci-fi .selector .selection {
    transition: all 0.2s ease-in-out;
}

.sci-fi .selector .selection:hover {
    box-shadow: 0 0 10px 0px rgba(91, 150, 213, 0.2);
}

.sci-fi .selector .selection.red:hover {
    background: rgba(194, 50, 50, 0.15);
    box-shadow: 0 0 10px 0px rgba(194, 50, 50, 0.2);
    color: #dd7d7d;
}

.sci-fi .selector .selection.red.selected {
    background: rgba(194, 50, 50, 0.2) !important;
    border-color: #C23232 !important;
}

.sci-fi .selector .selection.yellow:hover {
    background: rgba(224, 187, 56, 0.15);
    box-shadow: 0 0 10px 0px rgba(224, 187, 56, 0.2);
    color: #eed990;
}

.sci-fi .selector .selection.yellow.selected {
    background: rgba(224, 187, 56, 0.2) !important;
    border-color: #E0BB38 !important;
}

.labelx {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(97%, #EAF1F5));
    background: linear-gradient(-180deg, #FFFFFF 0%, #EAF1F5 97%);
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    transform: scale3d(1, 1, 1);
    background: rgba(32, 45, 59, 0.2);
    border: 1px solid #485769;
    color: #ced7e2;
    transition: 0.15s ease-in-out background-color;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked+label {
    background: #0099E6;
    color: #fff;
    cursor: default;
    background: rgba(91, 150, 213, 0.2) !important;
    border-color: #5b96d5;
    color: #ffffff !important;
}