body {
    overflow-x: hidden;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
    , "Segoe UI Symbol", "Noto Color Emoji"; */
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Cordia New', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    background-color: #f7f7f7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    color: #D6DBDF;
    background: #293949;
}

.c-main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    padding-top: 2rem;
    background-color: #fff;
}

.pt-3,
.py-3 {
    padding-top: 1px !important;
    /* padding-bottom: 0px !important; */
}

.table-responsive {
    margin: 0;
    max-height: 350px;
}

thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
}

tbody th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
}


/* To have the header in the first column stick to the left: */

thead th:first-child {
    left: 0;
    z-index: 1;
}


/* Just to display it nicely: */

thead th {
    /* background: #2E4053;  */
    /* background: linear-gradient(135deg, rgba(65, 131, 155, 1) 0%, rgba(51, 98, 123, 1) 80%);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: rgba(86, 101, 115, 1);
    background: #2E4053;
}

tbody th {
    background: #FFF;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 0.5em;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: rgba(66, 73, 73, 1);
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 0px;
    background: #85929E;
}

::-webkit-scrollbar-thumb:vertical {
    background: #85929E;
    border-radius: 0px;
}

.folder {
    position: relative;
    top: 0;
    left: 0;
    /* background: #eee; */
    width: 100px;
    height: 80px;
    box-sizing: border-box;
    border: 8px solid rgba(93, 109, 126, 0.2);
    ;
    border-top-width: 32px;
    border-radius: 0 3.25px 3.25px;
    transition: border-top-width 0.3s, transform 0.2s;
    transform-origin: 0% 100%;
    cursor: pointer;
}

.folder:before,
.folder:after {
    content: '';
    /* background: #82befa; */
    background: rgba(93, 109, 126, 0.8);
}

.folder:before,
.folder:after,
.folder i {
    position: absolute;
}

.folder:before {
    width: 35px;
    height: 5px;
    bottom: 72px;
    left: -8px;
    border-radius: 3.25px 3.25px 0 0;
}

.folder i,
.folder:after {
    width: 100px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    bottom: -8px;
    left: -8px;
    transition: transform 0.2s, background 0.2s;
    transform-origin: 0% 100%;
}

.folder:after {
    /* background: #63a7eb; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3.25px;
}

.folder i {
    z-index: 2;
    color: rgba(93, 109, 126, 0.8);
    font-size: 45px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.folder:hover {
    border-top-width: 8px;
}

.folder:hover:after,
.folder:hover i {
    transform: scaleY(0.85) skewX(-15deg);
}

.folder:hover:after {
    background: rgba(93, 109, 126, 0.7);
}

.folder:hover:i {
    color: rgba(93, 109, 126, 0.8);
}

.chartAreaWrapper {
    width: 600px;
    overflow-x: scroll;
}

@media screen and (max-width: 800px) {
    .XXX2 {
        width: 600px;
        overflow-x: scroll;
    }
}

.text-danger,
.text-red {
    color: #fc4b6c;
}

.text-white {
    color: #fff;
}

.text-warning,
.text-yellow {
    color: #ffb22b;
}

.text-aqua,
.text-info {
    color: #1e88e5;
}

.text-blue {
    color: #389af0;
}

.text-light-blue {
    color: #45aef1;
}

.text-green {
    color: #26C6DA;
}

.text-success-ds {
    /* 
    color: #26C6DA; */
    color: rgba(39, 174, 96, 0.8)
}

.text-gray {
    color: #d2d6de;
}

.text-navy {
    color: #001f3f;
}

.text-teal {
    color: #39cccc;
}

.text-olive {
    color: #7dab2e;
}

.text-lime {
    color: #01ff70;
}

.text-orange {
    color: #f7941d;
}

.text-fuchsia {
    color: #f012be;
}

.text-purple {
    color: #7460ee;
}

.text-maroon {
    color: #8C1919;
}

.text-black,
.text-inverse {
    color: #000;
}

.forth {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    font-weight: bold;
    background: #7FB3D5;
    color: #154360;
    margin: 6px;
    padding: 6px;
}

.forth2 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    font-weight: bold;
    background: #E6B0AA;
    color: #641E16;
    margin: 6px;
    padding: 6px;
}

::selection {
    background: #5b96d5 !important;
}

.tabbed {
    width: 95%;
}

.tabbed>input {
    display: none;
}

.tabbed>label {
    display: block;
    float: left;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: rgba(32, 45, 59, 0.2);
    border: 1px solid rgba(93, 109, 126, 0.2);
    border-radius: 3px;
}

.tabbed>input:checked+label {
    background: #5b96d5 !important;
    border-color: #5b96d5;
}

.tabs {
    clear: both;
    perspective: 80%;
}

.tabs>div {
    width: 95%;
    position: absolute;
    border: 0px solid #5b96d5;
    padding: 1px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity 0.3s, transform 1s;
    z-index: 0;
}

#tab-nav-1:checked~.tabs>div:nth-of-type(1),
#tab-nav-2:checked~.tabs>div:nth-of-type(2),
#tab-nav-3:checked~.tabs>div:nth-of-type(3),
#tab-nav-4:checked~.tabs>div:nth-of-type(4) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .tabbed {
        width: 100%;
    }
    .tabbed>label {
        display: none;
    }
    .tabs>div {
        width: 100%;
        border: none;
        padding: 0;
        opacity: 1;
        position: relative;
        transform: none;
    }
    .tabs>div small {
        border-bottom: 1px solid #5b96d5;
        padding-bottom: 0.5px;
    }
}

.tabbed2 {
    width: 95%;
}

.tabbed2>input {
    display: none;
}

.tabbed2>label {
    display: block;
    float: left;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: rgba(32, 45, 59, 0.2);
    border: 1px solid rgba(93, 109, 126, 0.2);
    border-radius: 3px;
}

.tabbed2>input:checked+label {
    background: #5b96d5 !important;
    border-color: #5b96d5;
}

.tabs2 {
    clear: both;
    perspective: 80%;
}

.tabs2>div {
    width: 95%;
    position: absolute;
    border: 0px solid #5b96d5;
    padding: 1px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity 0.3s, transform 1s;
    z-index: 0;
}

#tab2-nav-1:checked~.tabs2>div:nth-of-type(1),
#tab2-nav-2:checked~.tabs2>div:nth-of-type(2),
#tab2-nav-3:checked~.tabs2>div:nth-of-type(3),
#tab2-nav-4:checked~.tabs2>div:nth-of-type(4) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .tabbed2 {
        width: 100%;
    }
    .tabbed2>label {
        display: none;
    }
    .tabs2>div {
        width: 100%;
        border: none;
        padding: 0;
        opacity: 1;
        position: relative;
        transform: none;
    }
    .tabs2>div small {
        border-bottom: 1px solid #5b96d5;
        padding-bottom: 0.5px;
    }
}